<nav class="navbar">
   <a class="nav-link"
      [class.active]="activeSection === 'home'"
      (click)="navigateToSection('home')">Home</a>
   <a class="nav-link"
      [class.active]="activeSection === 'about'"
      (click)="navigateToSection('about')">About</a>
    <a class="nav-link" 
       [class.active]="activeSection === 'portfolio'"
       (click)="navigateToSection('portfolio')">Portfolio</a>
    <a class="nav-link" 
       [class.active]="activeSection === 'career-path'"
       (click)="navigateToSection('career-path')">Career Path</a>
    <a class="nav-link" 
       [class.active]="activeSection === 'github-contributions'"
       (click)="navigateToSection('github-contributions')">GitHub Contributions</a>
    <a class="nav-link" 
       [class.active]="activeSection === 'contact'"
       (click)="navigateToSection('contact')">Contact</a>
    <a class="nav-link" 
       [class.active]="activeSection === 'downloads'"
       (click)="navigateToSection('downloads')">Downloads</a>
  </nav>