#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
  }
  
  .intro {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 2;
    position: relative;
  }

  h1 {
    color: #fff !important;
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .profile-pic-container {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-pic {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .profile-pic:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 48px rgba(0, 170, 255, 0.5);
  }
  
  .role-title {
    
    font-size: 1.2rem;
    margin: 15px 0;
    text-decoration: underline;
    text-decoration-color: #00aaff;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
  }
  
  p {
    margin: 20px 0;
    color: #fff !important;
    line-height: 1.6;
  }

  .social-links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .social-links a {
    color: #00aaff;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  .social-links a:hover {
    transform: translateY(-3px);
    color: #e6e600;
  }

  .typed-cursor {
    font-size: 1.5rem;
    color: #00aaff;
  }
  