.github-contributions-section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .github-contributions-section h2 {
    color: #00aaff;
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  